<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 bootstrap="tests/Bootstrap.php"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
		 backupGlobals="true"
		 colors="true">
	<testsuites>
		<testsuite name="Siat Test Suite">
			<directory>tests</directory>
			<exclude>./tests/SiatVTest.php</exclude>
			<exclude>./tests/SiatFacturacionComputarizada.php</exclude>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<report>
			<html outputDirectory="build/coverage" lowUpperBound="50" highLowerBound="90"/>
			<clover outputFile="build/logs/clover.xml"/>
		</report>
	</coverage>
	<logging>
		<junit outputFile="build/logs/junit.xml"/>
	</logging>
</phpunit>
